/* 기본 설정: 페이지 전체 */
:root {
  --main-color: #00a9de;
  --inqurybutton-color: #00a9de;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f0d57f;
}

/* 헤더 */
header {
  position: relative;
  width: 100%;
}

header .container {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 65, 65);
}

/* 헤더A: 사이트 로고 */
.headA .logo {
  width: 50px;
  background-color: blueviolet;
}

.headA span {
  display: inline-block;
  line-height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--main-color);
  background-color: blueviolet;
  font-size: 24px;
  text-decoration: none;
}

/* 헤더B: 오른쪽 사이드 네비게이션 메뉴 */
.headB ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.headB a {
  display: block;
  padding: 15px;
  color: inherit;
  font-size: 12px;
  text-decoration: none;
  color: rgb(5, 5, 5);
  transition: all 0.3s ease-in-out;
}

.headB a:hover {
  background-color: crimson;
  color: #00a9de;
}

/* 헤더 메인 네비게이션 */

.headBar {
  position: relative;
  width: 1139px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(209, 139, 139);
  margin-top: 0px;
  margin-bottom: 0px;
}

.headBar li {
  list-style: none;
  color: white;
  background-color: #2d2d2d;
  float: left;
  vertical-align: middle;
  text-align: center;
  max-width: 1000px;
  height: 50px;
}

.headBar a {
  text-decoration: none;
  color: white;
  display: block;
  width: 183.3px;
  font-size: 15px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.headBar a:hover {
  color: red;
  background-color: #4d4d4d;
}

/* -------------------- */

.TopMenu {
  /* height: 30px; */
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}
.TopMenu li {
  list-style: none;
  color: white;
  background-color: #2d2d2d;
  float: left;
  line-height: 30px;
  vertical-align: middle;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.TopMenu a {
  text-decoration: none;
  color: white;
  display: block;
  width: 150px;
  font-size: 12px;
  font-weight: bold;
}
.TopMenu a:hover {
  color: red;
  background-color: #4d4d4d;
}

/* -------------------- */

/* 메인 배너 */
.swiper-container {
  width: 1100px;
  height: 480px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* ConB + 아이콘 + 글자 */

.conB .container {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1000px;
}
.conB .container {
  display: flex;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.conB .text /* div 속성 */ {
  background-color: #00a9de;
  padding: 10px;
  text-align: center;
  border-radius: 1em;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 200px;
}
.conB .img {
  width: 50px;
  margin-top: 10px;
}
.conB h5 {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.conB p {
  margin: 10px;
  text-align: left;
  font-size: 15px;
}
